@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200&family=Ubuntu:wght@300&display=swap");

body {
  margin: 0;
  font-family: "Sora", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}
.navbar ul {
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  justify-content: space-around;
}
.navbar ul li {
  cursor: pointer;
}
.navbar ul li {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.5s ease;
}
.navbar ul li.active,
.navbar ul li:hover {
  background-color: #423161;
}

li {
  float: left;
  list-style-type: none;

  font-size: 25px;
}
/* ******************* */

.container1 {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  height: 80vh;
  width: 80vw;
  flex-direction: row;
  color: white;
  border-radius: 30px;
  background-color: #252525;
  margin-bottom: 20px;
}
.poster2box {
  text-align: center;
  color: white;
  width: 100%;
}
.poster2 {
  width: 100%;
  height: 100%;
  border-radius: 0px 30px 30px 30px;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mainposter1div1 div {
  cursor: pointer;
  border: 2px #423161 solid;
  padding: 2px 8px;
  border-radius: 15px 0px 15px 15px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  width: auto;
  font-size: 50px;
  bottom: 0;
}

.mainposter1div1 div:hover {
  color: white;
  background: #423161;
}

.genre1 {
  margin: auto;
  display: flex;
  width: 80vw;
  height: 5vh;
  align-items: center;
  justify-content: center;
  color: white;
}
.item1 {
  cursor: pointer;
  border: 2px #423161 solid;
  margin-right: 30px;
  width: auto;
  height: auto;
  border-radius: 15px 0px 15px 15px;
  padding: 5px 10px;
  font-size: 20px;
}
.item1:hover {
  transition: all 0.5s ease;
  background-color: #423161;
}

input {
  margin: 10px 0px;
  width: 250px;
  height: 5vh;
  border: 2px #423161 solid;
  border-radius: 15px;
  margin-right: 10px;
  outline: transparent;
  padding: 5px 9px;
  color: white;
  background-color: #252525;
}

.container4 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 15px;
  margin-right: auto;
  margin-left: auto;
  height: auto;
  width: 80vw;
}
.container3mono {
  background-color: #252525;
  cursor: pointer;
  margin-left: 4px;
  display: flex;
  margin: 4px;
  width: 32%;
  border: 2px #423161 solid;
  height: 90%;
  color: white;
  border-radius: 0 30px 30px 30px;
  transition: all 0.5s ease;
}
.container3mono:hover {
  transform: scale(1.1);
}
.c3poster1 {
  width: 50%;
  height: 100%;
  overflow: hidden;
  border-radius: 0 30px 0 30px;
}

.c3poster2 {
  padding-bottom: 15px;
  height: 100%;
  width: 50%;
  padding-left: 10px;
  overflow: hidden;
  border-radius: 0 30px 0 0;
}
.c3poster2 h3 {
  font-size: 22px;
}
.c3poster2 div {
  list-style: none;
  text-decoration: none;
  font-size: 14px;
  margin-top: 8px;
  font-size: 17px;
}
.poster1div1 div {
  cursor: pointer;
  border: 2px #423161 solid;
  margin-top: 18px;
  margin-right: 8px;
  padding: 2px 8px;
  border-radius: 15px 0px 15px 15px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  width: 100px;
}
.poster1div1 div:hover {
  color: white;
  background: #423161;
}
.submitform {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button {
  cursor: pointer;
  color: white;
  width: auto;
  height: auto;
  background-color: #423161;
  border-radius: 15px;
  border: 2px #423161 solid;
  padding: 10px 15px;
  font-size: 18px;
}

.videoplayer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20vh;
  flex-direction: column;
}

/* ****************** */
@media only screen and (max-width: 1250px) and (min-width: 1000px) {
  .container1 {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    height: auto;
    width: 90vw;
    flex-direction: row;
    color: white;
    border-radius: 30px;
    background-color: #252525;
    margin-bottom: 20px;
  }
  .poster1 {
    height: auto;
    width: 60%;
    background-color: #252525;
    border: #252525 1px solid;
    border-radius: 30px 0 0 30px;
  }
  .poster2 {
    height: auto;
    width: 40%;
    background-color: #423161;
    float: right;
    border-radius: 0 30px 0 30px;
  }
  .poster1 {
    padding: 5px 30px 10px 30px;
  }
  .poster1 h1 {
    font-size: 40px;
  }
  .poster1 ul {
    float: left;
    display: flex;
    margin-right: 100px;
    list-style: none;
    margin-top: 20px;
  }
  .poster1div div {
    cursor: pointer;
    font-size: 20px;
    margin-right: 30px;
    border: 2px #423161 solid;
    float: left;
    padding: 2px 10px 3px 10px;
    border-radius: 15px 0px 15px 15px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
  }
  .poster1div div:hover {
    color: white;
    background: #423161;
  }
  .poster1 p {
    line-height: 1.6;
  }
  .overview {
    font-size: 20px;
  }

  .genre1 {
    display: flex;
    width: 90vw;
    margin-right: auto;
    margin-left: auto;
    height: 5vh;
    align-items: center;
    justify-content: center;
    color: white;
  }
  .item1 {
    border: 2px #423161 solid;
    margin-right: auto;
    margin-left: auto;
    width: auto;
    height: 4vh;
    border-radius: 15px 0px 15px 15px;
    padding: 2px 10px;
    font-size: 15px;
  }
  input {
    margin: auto;
    width: 150px;
    height: 5vh;
    border: 2px #423161 solid;
    border-radius: 15px;
    margin-right: 10px;
    outline: transparent;
    padding: 5px 9px;
    color: white;
    background-color: #252525;
  }
  button {
    cursor: pointer;
    color: white;
    margin: auto;
    width: auto;
    height: 5vh;
    background-color: #423161;
    border-radius: 15px;
    border: 2px #423161 solid;
    margin-right: 50px;
  }
  .item1:hover {
    transition: all 0.5s ease;
    background-color: #423161;
  }
  .container4 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
    height: auto;
    width: 90vw;
  }
  .container3mono {
    background-color: #252525;
    cursor: pointer;
    display: flex;
    margin: 4px;
    width: 32%;
    border: 2px #423161 solid;
    height: 90%;
    color: white;
    border-radius: 0 30px 30px 30px;
    transition: all 0.5s ease;
  }
  .container3mono:hover {
    transform: scale(1.1);
  }
  .c3poster1 {
    width: 50%;
    height: auto;
    overflow: hidden;
    border-radius: 0 30px 0 30px;
  }
  .c3poster2 {
    padding-bottom: 15px;
    height: 100%;
    width: 50%;
    padding-left: 10px;
    overflow: hidden;
    border-radius: 0 30px 0 0;
  }
  .c3poster2 h3 {
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 5px;
  }
  .c3poster2 div {
    margin: 8px 0px;
    list-style: none;
    text-decoration: none;
    font-size: 14px;
  }
  .poster1div1 div {
    cursor: pointer;
    border: 2px #423161 solid;
    float: left;
    margin-top: 8px;
    padding: 2px 8px;
    border-radius: 15px 0px 15px 15px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
  }
  .poster1div1 div:hover {
    color: white;
    background: #423161;
  }
}
@media only screen and (max-width: 1000px) and (min-width: 750px) {
  .container1 {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    height: auto;
    width: 95vw;
    flex-direction: row;
    color: white;
    border-radius: 30px;
    background-color: #252525;
    margin-bottom: 20px;
  }
  .poster1 {
    height: auto;
    width: 60%;
    background-color: #252525;
    border: #252525 1px solid;
    border-radius: 30px 0 0 30px;
  }
  .poster2 {
    height: auto;
    width: 40%;
    background-color: #423161;
    float: right;
    border-radius: 0 30px 0 30px;
  }
  .poster1 {
    padding: 5px 15px 10px 30px;
  }
  .poster1 h1 {
    font-size: 30px;
  }
  .poster1 ul {
    float: left;
    display: flex;
    margin-right: 100px;
    list-style: none;
    margin-top: 20px;
  }
  .poster1div div {
    cursor: pointer;
    font-size: 18px;
    margin-right: 30px;

    border: 2px #423161 solid;
    float: left;
    padding: 2px 10px 3px 10px;
    border-radius: 15px 0px 15px 15px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
  }
  .poster1div div:hover {
    color: white;
    background: #423161;
  }
  .poster1 p {
    margin: 8px 0px;
    line-height: 1.6;
  }
  .overview {
    font-size: 18px;
  }

  .genre1 {
    box-sizing: border-box;
    display: flex;
    width: 95vw;
    margin-right: auto;
    margin-left: auto;
    height: 5vh;
    align-items: center;
    justify-content: space-between;
    color: white;
  }
  .item1 {
    border: 2px #423161 solid;
    margin-right: 5px;
    margin-left: auto;
    width: auto;
    height: 4vh;
    border-radius: 15px 0px 15px 15px;
    padding: 2px 10px;
    font-size: 14px;
  }
  input {
    margin: auto;
    width: 150px;
    height: 5vh;
    border: 2px #423161 solid;
    border-radius: 15px;
    margin-right: 10px;
    outline: transparent;
    padding: 5px 9px;
    color: white;
    background-color: #252525;
  }
  button {
    cursor: pointer;
    color: white;
    margin: auto;
    width: auto;
    height: 5vh;
    background-color: #423161;
    border-radius: 15px;
    border: 2px #423161 solid;
    margin-right: 50px;
  }
  .item1:hover {
    transition: all 0.5s ease;
    background-color: #423161;
  }
  .container4 {
    display: flex;
    margin-top: 15px;
    height: auto;
    width: 90vw;
    margin-right: auto;
    margin-left: auto;
  }
  .container3mono {
    background-color: #252525;
    cursor: pointer;
    display: flex;
    margin: 4px;
    width: 48%;
    border: 2px #423161 solid;
    height: 90%;
    color: white;
    border-radius: 0 30px 30px 30px;
    transition: all 0.5s ease;
  }
  .container3mono:hover {
    transform: scale(1.1);
  }
  .c3poster1 {
    width: 50%;
    height: 30vh;
    overflow: hidden;
    border-radius: 0 30px 0 30px;
  }
  .c3poster2 {
    padding-bottom: 15px;
    height: 100%;
    width: 50%;
    padding-left: 10px;
    overflow: hidden;
    border-radius: 0 30px 0 0;
  }
  .c3poster2 h3 {
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 5px;
  }
  .c3poster2 div {
    margin: 8px 0px;
    list-style: none;
    text-decoration: none;
    font-size: 14px;
  }
  .poster1div1 div {
    cursor: pointer;
    border: 2px #423161 solid;
    float: left;
    margin-top: 8px;
    padding: 2px 8px;
    border-radius: 15px 0px 15px 15px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
  }
  .poster1div1 div:hover {
    color: white;
    background: #423161;
  }
}
@media only screen and (max-width: 750px) and (min-width: 602px) {
  .container1 {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    height: auto;
    width: 95vw;
    flex-direction: row;
    color: white;
    border-radius: 30px;
    background-color: #252525;
    margin-bottom: 20px;
  }
  .poster1 {
    height: auto;
    width: 60%;
    background-color: #252525;
    border: #252525 1px solid;
    border-radius: 30px 0 0 30px;
  }
  .poster2 {
    height: auto;
    width: 40%;
    background-color: #423161;
    float: right;
    border-radius: 0 30px 0 30px;
  }
  .poster1 {
    padding: 5px 10px 10px 10px;
  }
  .poster1 h1 {
    font-size: 24px;
    margin-top: 8px;
    margin-bottom: 5px;
  }

  .poster1div div {
    cursor: pointer;
    font-size: 15px;
    margin-right: 30px;
    margin-top: 5px;
    border: 2px #423161 solid;
    float: left;
    padding: 2px 10px 3px 10px;
    border-radius: 15px 0px 15px 15px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
  }
  .poster1div div:hover {
    color: white;
    background: #423161;
  }
  .poster1 p {
    margin-top: 2px;
    margin-bottom: 2px;
    line-height: 1.6;
  }
  .overview {
    font-size: 15px;
  }

  .genre1 {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 95vw;
    margin-right: auto;
    margin-left: auto;
    height: auto;

    color: white;
  }
  .item1 {
    border: 2px #423161 solid;
    margin-right: 5px;
    margin-left: 5px;
    width: auto;
    height: 4vh;
    margin-top: 5px;
    border-radius: 15px 0px 15px 15px;
    padding: 2px 10px;
    font-size: 14px;
  }
  input {
    margin-top: 5px;
    margin-left: 20px;
    width: 150px;
    height: 5vh;
    border: 2px #423161 solid;
    border-radius: 15px;
    margin-right: 10px;
    outline: transparent;
    padding: 5px 9px;
    color: white;
    background-color: #252525;
  }
  button {
    cursor: pointer;
    color: white;
    float: right;

    height: 5vh;
    background-color: #423161;
    border-radius: 15px;
    border: 2px #423161 solid;
  }
  .item1:hover {
    transition: all 0.5s ease;
    background-color: #423161;
  }
  .container4 {
    display: flex;
    margin-top: 15px;
    height: auto;
    width: 95vw;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
  }
  .container3mono {
    margin-right: auto;
    margin-left: auto;
    background-color: #252525;
    cursor: pointer;
    display: flex;
    margin: 4px;
    width: 47%;
    border: 2px #423161 solid;
    height: 90%;
    color: white;
    border-radius: 0 30px 30px 30px;
    transition: all 0.5s ease;
  }
  .container3mono:hover {
    transform: scale(1.1);
  }
  .c3poster1 {
    width: 50%;
    height: auto;
    overflow: hidden;
    border-radius: 0 30px 0 30px;
  }
  .c3poster2 {
    padding-bottom: 15px;
    height: 100%;
    width: 50%;
    padding-left: 10px;
    overflow: hidden;
    border-radius: 0 30px 0 0;
  }
  .c3poster2 h3 {
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 5px;
  }
  .c3poster2 div {
    margin: 8px 0px;
    list-style: none;
    text-decoration: none;
    font-size: 14px;
  }
  .poster1div1 div {
    cursor: pointer;
    border: 2px #423161 solid;
    float: left;
    margin-top: 8px;
    padding: 2px 8px;
    border-radius: 15px 0px 15px 15px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
  }
  .poster1div1 div:hover {
    color: white;
    background: #423161;
  }
}

@media only screen and (max-width: 602px) and (min-width: 500px) {
  .container1 {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    height: auto;
    width: 95vw;
    flex-direction: row;
    color: white;
    border-radius: 30px;
    background-color: #252525;
    margin-bottom: 20px;
  }
  .poster1 {
    height: auto;
    width: 60%;
    background-color: #252525;
    border: #252525 1px solid;
    border-radius: 30px 0 0 30px;
  }
  .poster2 {
    height: auto;
    width: 40%;
    background-color: #423161;
    float: right;
    border-radius: 0 30px 0 30px;
  }
  .poster1 {
    padding: 5px 10px 10px 10px;
  }
  .poster1 h1 {
    font-size: 22px;
    margin-top: 8px;
    margin-bottom: 5px;
  }

  .poster1div div {
    cursor: pointer;
    font-size: 15px;
    margin-right: 30px;
    margin-top: 5px;
    border: 2px #423161 solid;
    float: left;
    padding: 2px 10px 3px 10px;
    border-radius: 15px 0px 15px 15px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
  }
  .poster1div div:hover {
    color: white;
    background: #423161;
  }
  .poster1 p {
    margin-top: 2px;
    margin-bottom: 2px;
    line-height: 1.6;
  }
  .overview {
    font-size: 14px;
  }

  .genre1 {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 95vw;
    margin-right: auto;
    margin-left: auto;
    height: auto;

    color: white;
  }
  .item1 {
    border: 2px #423161 solid;
    margin-right: 5px;
    margin-left: 5px;
    width: auto;
    height: 4vh;
    margin-top: 5px;
    border-radius: 15px 0px 15px 15px;
    padding: 2px 10px;
    font-size: 14px;
  }
  input {
    margin-top: 5px;
    margin-left: 20px;
    width: 150px;
    height: 5vh;
    border: 2px #423161 solid;
    border-radius: 15px;
    margin-right: 10px;
    outline: transparent;
    padding: 5px 9px;
    color: white;
    background-color: #252525;
  }
  button {
    cursor: pointer;
    color: white;
    float: right;

    height: 5vh;
    background-color: #423161;
    border-radius: 15px;
    border: 2px #423161 solid;
  }
  .item1:hover {
    transition: all 0.5s ease;
    background-color: #423161;
  }
  .container4 {
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    display: flex;
    margin-top: 15px;
    height: auto;
    width: 95vw;
  }
  .container3mono {
    background-color: #252525;
    cursor: pointer;
    display: flex;
    margin: 4px;
    width: 80%;
    border: 2px #423161 solid;
    height: auto;
    color: white;
    border-radius: 0 30px 30px 30px;
    transition: all 0.5s ease;
  }
  .container3mono:hover {
    transform: scale(1.1);
  }
  .c3poster1 {
    width: 50%;
    height: auto;
    overflow: hidden;
    border-radius: 0 30px 0 30px;
  }
  .c3poster2 {
    padding-bottom: 15px;
    height: 100%;
    width: 50%;
    padding-left: 10px;
    overflow: hidden;
    border-radius: 0 30px 0 0;
  }
  .c3poster2 h3 {
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 5px;
  }
  .c3poster2 div {
    margin: 18px 0px;
    list-style: none;
    text-decoration: none;
    font-size: 14px;
  }
  .poster1div1 div {
    cursor: pointer;
    border: 2px #423161 solid;
    float: left;
    margin-top: 8px;
    padding: 2px 8px;
    border-radius: 15px 0px 15px 15px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
  }
  .poster1div1 div:hover {
    color: white;
    background: #423161;
  }
}
@media only screen and (max-width: 500px) and (min-width: 406px) {
  .container1 {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    height: auto;
    width: 99vw;
    flex-direction: row;
    color: white;
    border-radius: 30px;
    background-color: #252525;
    margin-bottom: 20px;
  }
  .poster1 {
    height: auto;
    width: 60%;
    background-color: #252525;
    border: #252525 1px solid;
    border-radius: 30px 0 0 30px;
  }
  .poster2 {
    height: auto;
    width: 40%;
    background-color: #423161;
    float: right;
    border-radius: 0 30px 0 30px;
  }
  .poster1 {
    padding: 5px 10px 10px 10px;
  }
  .poster1 h1 {
    font-size: 18px;
    margin-top: 8px;
    margin-bottom: 5px;
  }

  .poster1div div {
    cursor: pointer;
    font-size: 13px;
    margin-right: 30px;
    margin-top: 5px;
    border: 2px #423161 solid;
    float: left;
    padding: 2px 10px 3px 10px;
    border-radius: 15px 0px 15px 15px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
  }
  .poster1div div:hover {
    color: white;
    background: #423161;
  }
  .poster1 p {
    font-size: 12px;
    margin-top: 2px;
    margin-bottom: 2px;
    line-height: 1.6;
  }
  .overview {
    font-size: 12px;
  }

  .genre1 {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 95vw;
    margin-right: auto;
    margin-left: auto;

    height: auto;

    color: white;
  }
  .item1 {
    margin-top: 5px;
    border: 2px #423161 solid;
    margin-right: 5px;
    margin-left: 5px;
    width: auto;
    height: 4vh;
    border-radius: 15px 0px 15px 15px;
    padding: 2px 10px;
    font-size: 14px;
  }
  input {
    margin-top: 5px;
    margin-left: 20px;
    width: 150px;
    height: 5vh;
    border: 2px #423161 solid;
    border-radius: 15px;
    margin-right: 10px;
    outline: transparent;
    padding: 5px 9px;
    color: white;
    background-color: #252525;
  }
  button {
    cursor: pointer;
    color: white;
    float: right;

    height: 5vh;
    background-color: #423161;
    border-radius: 15px;
    border: 2px #423161 solid;
  }
  .item1:hover {
    transition: all 0.5s ease;
    background-color: #423161;
  }
  .container4 {
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    display: flex;
    margin-top: 15px;
    height: auto;
    width: 95vw;
  }
  .container3mono {
    background-color: #252525;
    cursor: pointer;
    display: flex;
    margin: 4px;
    width: 90%;
    border: 2px #423161 solid;
    height: auto;
    color: white;
    border-radius: 0 30px 30px 30px;
    transition: all 0.5s ease;
  }
  .container3mono:hover {
    -webkit-tap-highlight-color: transparent;
    transform: scale(1.1);
  }
  .c3poster1 {
    width: 50%;
    height: auto;
    overflow: hidden;
    border-radius: 0 30px 0 30px;
  }
  .c3poster2 {
    padding-bottom: 15px;
    height: 100%;
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
    border-radius: 0 30px 0 0;
  }
  .c3poster2 h3 {
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 5px;
  }
  .c3poster2 div {
    margin: 8px 0px;
    list-style: none;
    text-decoration: none;
    font-size: 14px;
  }
  .poster1div1 div {
    cursor: pointer;
    border: 2px #423161 solid;
    float: left;
    margin-top: 18px;

    padding: 2px 8px;
    border-radius: 15px 0px 15px 15px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
  }
  .poster1div1 div:hover {
    color: white;
    background: #423161;
  }
}
@media only screen and (max-width: 406px) and (min-width: 300px) {
  .container1 {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    height: auto;
    width: 99vw;
    flex-direction: row;
    color: white;
    border-radius: 30px;
    background-color: #252525;
    margin-bottom: 20px;
  }
  .poster1 {
    height: auto;
    width: 60%;
    background-color: #252525;
    border: #252525 1px solid;
    border-radius: 30px 0 0 30px;
  }
  .poster2 {
    height: auto;
    width: 40%;
    background-color: #423161;
    float: right;
    border-radius: 0 30px 0 30px;
  }
  .poster1 {
    padding: 5px 10px 10px 10px;
  }
  .poster1 h1 {
    font-size: 12px;
    margin-top: 8px;
    margin-bottom: 5px;
  }
  .poster1div div {
    cursor: pointer;
    font-size: 8px;
    margin-right: 30px;
    margin-top: 5px;
    border: 2px #423161 solid;
    float: left;
    padding: 2px 10px 3px 10px;
    border-radius: 15px 0px 15px 15px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
  }
  .poster1div div:hover {
    color: white;
    background: #423161;
  }
  .poster1 p {
    font-size: 9px;
    margin-top: 2px;
    margin-bottom: 2px;
    line-height: 1.6;
  }
  .overview {
    font-size: 8px;
  }

  .genre1 {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 95vw;
    margin-right: auto;

    margin-left: auto;
    height: auto;

    color: white;
  }
  .item1 {
    margin-top: 5px;
    border: 2px #423161 solid;
    margin-right: 5px;
    margin-left: 5px;
    width: auto;
    height: 4vh;
    border-radius: 15px 0px 15px 15px;
    padding: 2px 10px;
    font-size: 14px;
  }
  input {
    margin-top: 5px;
    margin-left: 20px;
    width: 150px;
    height: 5vh;
    border: 2px #423161 solid;
    border-radius: 15px;
    margin-right: 10px;
    outline: transparent;
    padding: 5px 9px;
    color: white;
    background-color: #252525;
  }
  button {
    cursor: pointer;
    color: white;
    float: right;

    height: 5vh;
    background-color: #423161;
    border-radius: 15px;
    border: 2px #423161 solid;
  }
  .item1:hover {
    transition: all 0.5s ease;
    background-color: #423161;
  }
  .container4 {
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    display: flex;
    margin-top: 15px;
    height: auto;
    width: 100vw;
  }
  .container3mono {
    background-color: #252525;
    cursor: pointer;
    display: flex;
    margin: 4px;
    width: 80%;
    border: 2px #423161 solid;
    height: auto;
    color: white;
    border-radius: 0 30px 30px 30px;
    transition: all 0.5s ease;
  }
  .container3mono:hover {
    transform: scale(1.1);
  }
  .c3poster1 {
    width: 50%;
    height: auto;
    overflow: hidden;
    border-radius: 0 30px 0 30px;
  }
  .c3poster2 {
    padding-bottom: 15px;
    height: 100%;
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
    border-radius: 0 30px 0 0;
  }
  .c3poster2 h3 {
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 5px;
  }
  .c3poster2 div {
    margin: 8px 0px;
    list-style: none;
    text-decoration: none;
    font-size: 14px;
  }
  .poster1div1 div {
    cursor: pointer;
    border: 2px #423161 solid;
    float: left;
    margin-top: 18px;

    padding: 2px 8px;
    border-radius: 15px 0px 15px 15px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
  }
  .poster1div1 div:hover {
    color: white;
    background: #423161;
  }
}
